@{
    ViewBag.Title = "OlioTesti";
}
@section scripts {

    <script type="text/javascript">

        //käytetään jQuerya, alustettu valmiiksi Shared/layout-sivulla
        $(function () {
            //sivun alustus

            
        });
    </script>
}

<h1>OlioTesti</h1>


